#container-app { 
    height: 100vh;
    display:flex;
    flex-direction:column;
  }
  
#pnl-head {height: fit-content; margin: 40px;}

#pnl-main {
    flex: content;
    display:flex;
    flex-direction:column-reverse
}

#pnl-app {
    /*flex: 2; */
    position: relative;
}

#pnl-inc {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#pnl-trial {
    position: relative;
    /* flex: 1; */
    display:flex;
    flex-direction:column;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 113%;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

#pnl-tbl {
    /*!  flex: 1; */
    /*! position: relative; */
}

#lbl-time {
    position: absolute;
    text-align: center;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 129%;
    font-size: 2vh;
    color: slategrey;
}
#lbl-trial {
    text-align: center;
    font-size: 4vh;
    margin: 13vw;
}

#btn-start {
    position: absolute;
    text-align: center;
    transform: translate(-50%,-50%);
    left: 30%;
    top: 30%;
}

#btn-stop {
    position: absolute;
    text-align: center;
    transform: translate(-50%,-50%);
    left: 70%;
    top: 30%;
}

.fixation {
    border-radius: 50%;
    aspect-ratio: 1;
    background-color: black;
}

.hide {
    visibility: hidden;
}

.active {
    background-color: #B4BE00;
}

.valid {
    color: #B4BE00;
}

.invalid {
    color: #D93F00;
}

.rule {
    position: absolute;
    background-color: black;
    width: 50px;
    height: 20px;
}

.btn-xl {
    margin: 16px;
    padding: 2vh 2vh;
    font-size: 1.5vh;
    border-radius: 10px;
}

.btn-xxl {
    margin: 16px;
    padding: 2vh 2vh;
    font-size: 3vh;
    font-weight: bold;
    border-radius: 10px;
}